



<table >
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Type</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    
        <tr>
            <td><%= @artwork.title %></td>
            <td><%= @artwork.date %></td>
            <td><%= @artwork.artwork_type %></td>
            <td><%= @artwork.price %></td>
            
            
        </tr>
   
</table>